package main

import "time"

// Edit this file to configure this program.

const (
	// Binary for the patched OpenVPN.
	openvpn = "/home/your-username/.local/bin/openvpn-v2.4.9-saml"

	// Hostname, port and protocol for the VPN.
	vpnHost  = "vpn-supporting-saml.allvpn.domain"
	vpnPort  = 443
	vpnProto = "udp"

	// Configuration file for the VPN.
	vpnConfig = "/home/your-username/vpn-config-file.ovpn"

	// Address to listen on for the SAML callback.
	serverAddress = "0.0.0.0:35001"

	// Server timeout for waiting for SAML callback.
	timeout = time.Second * 60

	// Command to open the URL for auth.
	// Leave empty to just display the URL in the terminal.
	browserCommand = "chromium"

	// URL to redirect you after connecting. Empty string for no redirection.
	redirectURL = ""

	// This option controls whether to try to run the final OpenVPN command
	// directly from this program or whether to simply output the command to
	// stdout so you can pipe it into bash or sh or w/e.
	runCommand = false
)

// vim: ft=go
