# Do not use the tilde (~) to represent your home folder, instead use the $HOME
# env var.

# Path to the patched OpenVPN binary.
# No default; required.
openvpn-binary

# Path to the OpenVPN configuration file.
# No default; required.
openvpn-config-file

# Server address.
# Default 0.0.0.0:35000; optional.
server-address 0.0.0.0:35000

# Maximum amount of time to wait for the saml response.
# Default: 60s; optional.
server-timeout 60s

# Browser command to open the SAML link.
# Default: x-www-browser; optional. Leave empty to simply display the URL.
browser-command x-www-browser

# URL to redirect to after a successful connection.
# Default: none; optional. Leave empty for no redirect.
redirect-url https://vpn-only.com/

# Whether to run command or to just echo it to stdout.
# Default: false; optional.
run-command

# Path of the temporary credentials file.
# Default:
#	If the env var exists: $XDG_CACHE_DIR/samlvpn-credentials
#	Otherwise: $HOME/.samlvpn-credentials
# Optional.
temp-credentials-file-path $HOME/.samlvpn-creds

# Permissions for the credentials file.
# Default: 0400; optional.
temp-credentials-file-permission
